*,
::after,
::before{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px ;
    color: black;
    /* margin: auto; */
}
body{
    min-height: calc(100vh - 1rem);
    min-width: 4rem;
    background-color: beige;
    margin : 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;  
}
nav{
    display: grid;
    height: 3rem;
    margin:  0;
    padding: 0;
    align-items: center;
}
main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
  }
.navbar{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    margin: 0;
    background-color: rgba(190, 231, 247, 0.952);
    align-items: center;
    box-shadow: var(--dark-shadow);
}
.nav-items{
    display: flex;
    justify-content: flex-end;
    padding: 10px 25%;
}
.navbar h6{
    padding: 10px 10%;
}
.navbar a{
    padding: 2rem 1rem;
}
.container{
    text-align: center;
    /* display: grid;
    place-items: center;
    min-height: calc(100vh - 1rem); */
}
.container h2{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;

}
.btn{
    border-radius: 10px;
    text-align: center;
    color: beige;
    background-color: black;
}
.btn:hover{
    background-color: blue;
}
.color{
    color: hsl(205, 78%, 60%);
}